https://{$ZUT_BALANCE_HOST} {
    tls internal
    encode zstd gzip

    handle /v1/* {
        reverse_proxy api:8000
    }

    handle /health {
        reverse_proxy api:8000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
